html,body{
    height: 100%;
    margin: 0;
    padding: 5px;

}
body{
    background-color: rgb(140, 170, 224);
    display: grid;
    max-width: 100vh;
    grid-template-rows: auto 1fr auto;
}

ol {
    width: 200px;
    height: 160px;
    padding: 20px;
    border: 3px solid rgb(28, 24, 87);
    margin: 5px;
    background-color: rgb(70, 119, 165);
    box-sizing: border-box;        
}
    
footer {
    width: 200px;
    height: 60px;
    border: 3px solid rgb(28, 24, 87);
    background-color: aliceblue;
}

h1 {
    color: rgb(21, 46, 83);
    font-style: italic;
}