body{
    background-color: rgb(140, 170, 224);
}
section{
    width: auto;
    height: auto;
    background-color: rgb(70, 119, 165);
    padding: 20px;
    border: 5px solid rgb(28, 24, 87);
}

h1{
    font-style: italic;

}