<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='contacto.css')}}">
    <title>Contacto</title>
</head>
<body>
    <header class="encabezado">
        <a href="{{ url_for('index')}}">
            <img src="https://ipm.edu.ar/assets/img/logo.png"
            alt="Logo IPM"
            class="logo">
        </a>    
        <h1>Contactos</h1>
    </header>
    <main>
         <article class="persona">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuhO8eN3DnCPP6dUmIeoOmcDeRZ6fbNwuHC-kQsqYqDg&s=10"
                     alt="Foto">
                <div>
                    <h3>Francesca Abbiati</h3>
                    <h5>
                        Instituto Politecnico Modelo
                    </h5>
                    <h5>
                        alumno29.abbiati.francesca@ipm.edu.ar
                    </h5>
                </div>
            </article>
            <article class="persona persona2">
                <div>
                    <h3>Oriana Meglio</h3>
                    <h5>
                        Instituto Politecnico Modelo
                    </h5>
                    <h5>
                        29.meglio.oriana@alumnos.ipm.edu.ar
                    </h5>
                </div> 
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuhO8eN3DnCPP6dUmIeoOmcDeRZ6fbNwuHC-kQsqYqDg&s=10"
                     alt="Foto">
            </article>
    </main>   
    <footer>
        <h5>Creado por: Oriana y Francesca</h5>
    </footer>
</body>
</html>