<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luiggi's Restaurante Italiano</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Menu.css')}}">
</head>
<body>
    <header class="encabezado">
        <a href="{{ url_for('index')}}">
            <img src="https://ipm.edu.ar/assets/img/logo.png"
                 alt="Logo IPM"
                 class="logo">
        </a>
        <h1>Luiggi's Restaurante Italiano</h1>
    </header>
    <main class="menu">
        <section class="categoria">
            <h2>Pastas</h2>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTq9dSACGal4Di2r7UxGrn1D1ZtumO7T3ClFB3784Pqg&s=10"
                     alt="Ñoquis de papa">
                <div>
                    <h3>Ñoquis de papa</h3>
                    <h5>
                        Recomendado del chef.
                        <a href="#salsas">Ver apartado de salsas</a>
                    </h5>
                    <h4>$18.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRwUKZ8yVC8Esdz74h1OZx_fM8MfqUY0-CsfjaZAHoDg&s=10"
                     alt="Sorrentinos">
                <div>
                    <h3>Sorrentinos</h3>
                    <h5>
                        Jamón y queso, cordero, verdura o carne.
                        <a href="#salsas">Ver apartado de salsas</a>
                    </h5>
                    <h4>$20.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVp5bBhoRVdCsCENDpFrxLpqUeRlqkSI9sXj-uN_aYJQ&s=10"
                     alt="Coditos">
                <div>
                    <h3>Coditos</h3>
                    <h5>
                        Ideal para niños.
                        <a href="#salsas">Ver apartado de salsas</a>
                    </h5>
                    <h4>$15.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqjP8kzQY_UAjD4-pGC3u50-Pmk781KhTy58cI_hQ8OA&s=10"
                     alt="Ravioles">
                <div>
                    <h3>Ravioles</h3>
                    <h5>
                        Jamón y queso, cordero, verdura o carne.
                        <a href="#salsas">Ver apartado de salsas</a>
                    </h5>
                    <h4>$19.000</h4>
                </div>
            </article>
        </section>
        <section class="categoria">
            <h2>Pizzas</h2>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdBmZYB99_68wBMW-b89R0uuntuq8XCiQRpBG5WGqCSQ&s=10"
                     alt="Pizza con queso">
                <div>
                    <h3>Sola con queso</h3>
                    <h5>
                        Mozzarella y salsa de tomate.
                    </h5>
                    <h4>$14.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYibgOCbb43INQZf3cT64gQYesdKqOgeXMUszXbP3rJg&s=10"
                     alt="Pizza Margarita">
                <div>
                    <h3>Margarita</h3>
                    <h5>
                        Mozzarella, salsa de tomate y albahaca.
                    </h5>
                    <h4>$17.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4hXEDjiPoRjfFOiQSmvurcf5DC1uwcI6BCAj7FxA7Wg&s=10"
                     alt="Pizza Fugazzeta">
                <div>
                    <h3>Fugazzeta</h3>
                    <h5>
                        Mozzarella, salsa de tomate y cebolla.
                    </h5>
                    <h4>$18.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhBvhTv8v4Gf4LZG2PgF0UvvCzks0c7FN2qecI1DehNQ&s=10"
                     alt="Pizza Napolitana">
                <div>
                    <h3>Napolitana</h3>
                    <h5>
                        Mozzarella, jamón cocido y tomate fresco.
                    </h5>
                    <h4>$19.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVyksTv8V0VerLRv5BvHF_6F8fFy0S2Fg4axI1vjmnNw&s=10"
                     alt="Pizza cuatro quesos">
                <div>
                    <h3>Cuatro Quesos</h3>
                    <h5>
                        Mozzarella, gorgonzola, parmesano y fontina.
                    </h5>
                    <h4>$20.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN9l28yWZMsuQerbKgHi8RZyeLR0DfRh3xhUQEsaSj3w&s=10"
                    alt="Pizza Pepperoni">
                <div>
                    <h3>Pepperoni</h3>
                    <h5>
                        Salsa de tomate, mozzarella y rodajas de pepperoni.
                    </h5>
                    <h4>$18.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeLllM1nvfOScl8-4aExun7EeXbkSD_95VMD1QSMj74g&s=10"
                    alt="Pizza Marinara">
                <div>
                    <h3>Marinara</h3>
                    <h5>
                        Salsa de tomate, ajo, orégano y aceite de oliva.
                    </h5>
                    <h4>$19.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbqvfqV-WD_XCriEmtTZefyiLMf7ZbpY3S06QHJQuBUg&s=10"
                    alt="Pizza Hawaiana">
                <div>
                    <h3>Hawaiana</h3>
                    <h5>
                        Salsa de tomate, mozzarella, jamón y ananá.
                    </h5>
                    <h4>$23.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbWC6l68sV32mAXKdJ-57BV3_d0LC1WPKxi-128TLAAw&s=10"
                    alt="Pizza Caprichosa">
                <div>
                    <h3>Caprichosa</h3>
                    <h5>
                        Mozzarella, jamón, champiñones, alcaucil y aceitunas negras.
                    </h5>
                    <h4>$20.000</h4>
                </div>
            </article>
        </section>
        <section class="categoria">
            <h2>Clásicos</h2>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSohNMVofKKr3uSELKQ__Nvf7snwZjSypzNH7hbWHguQ&s"
                    alt="Pastel de papa">
                <div>
                    <h3>Pastel de papa/calabaza</h3>
                    <h5>
                        Puré, carne picada, cebolla y aceitunas.
                    </h5>
                    <h4>$17.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTS1GLU1cTIgfMNaiEzhLGWp64BWQVeq4DWVCvB4Np0Gg&s=10"
                    alt="Empanadas">
                <div>
                    <h3>Empanadas</h3>
                    <h5>
                        Carne, jamón y queso, verduras, humita o pollo.
                    </h5>
                    <h4>$5.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzG09p8cuP4vXZVbWNSSBElxqI_EUyAZhMh4QKk7bQQg&s=10"
                    alt="Milanesa">
                <div>
                    <h3>Milanesa</h3>
                    <h5>
                        Carne o pollo. Puede ser sola, a caballo o napolitana.
                        <a href="#guarniciones">Ver guarniciones</a>
                    </h5>
                    <h4>$20.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTC-cHUoQwgLycQvdq6RdwriIbk8VWHHx3t7uSohsACw&s=10"
                    alt="Tamal">
                <div>
                    <h3>Tamal</h3>
                    <h5>
                        Masa de maíz y zapallo rellena de carne y verduras.
                    </h5>
                    <h4>$17.000</h4>
                </div>
            </article>
            <article class="plato">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdO4h8GRzLcHUFsXOSpPVn_f4gpPEA5u9Ulm1FJJe6VA&s=10"
                    alt="Humita">
                <div>
                    <h3>Humita</h3>
                    <h5>
                        Choclo, cebolla, morrón y zapallo. Opción vegana.
                    </h5>
                    <h4>$18.000</h4>
                </div>
            </article>
        </section>
        <section class="categoria" id="salsas">
            <h2>Salsas</h2>
            <ul>
                <li>Salsa blanca</li>
                <li>Bolognesa</li>
                <li>Carbonara</li>
                <li>Fileto</li>
                <li>Parisienne</li>
            </ul>
        </section>
        <section class="categoria" id="guarniciones">
            <h2>Guarniciones</h2>
            <ul>
                <li>Papas fritas</li>
                <li>Papas españolas</li>
                <li>Puré de papa/calabaza</li>
                <li>Ensalada coleslaw</li>
                <li>Lechuga y tomate</li>
            </ul>
        </section>
        <section class="categoria">
            <h2>Bebidas</h2>
            <article class="plato">
                <div>
                    <h3>Agua sin/con gas</h3>
                    <h4>$3.000</h4>
                </div>
            </article>
            <article class="plato">
                <div>
                    <h3>Agua saborizada</h3>
                    <h5>
                        Manzana, naranja, pomelo, pera y uva.
                    </h5>
                    <h4>$3.500</h4>
                </div>
            </article>
            <article class="plato">
                <div>
                    <h3>Gaseosa línea Coca Cola</h3>
                    <h4>$4.000</h4>
                </div>
            </article>
            <article class="plato">
                <div>
                    <h3>Limonada</h3>
                    <h4>$4.500</h4>
                </div>
            </article>
            <article class="plato">
                <div>
                    <h3>Pomelada</h3>
                    <h4>$4.500</h4>
                </div>
            </article>
        </section>
        <section class="categoria">
            <h2>Postres</h2>
            <article class="plato">
                <div>
                    <h3>Bocha de helado</h3>
                    <h5>
                        Sabores: chocolate, crema y frutilla.
                    </h5>
                    <h4>$6.000</h4>
                </div>
            </article>
            <article class="plato">
                <div>
                    <h3>Flan</h3>
                    <h5>Flan casero con dulce de leche.</h5>
                    <h4>$5.500</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <h5>Creado por: Oriana y Francesca</h5>
        <h5><a href="{{ url_for('contacto')}}">Contacto</a></h5>
    </footer>
</body>
</html>